
main{
    display: flex;

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 5px solid black;
        gap: 1rem;
        margin: 0.5rem;
        background-color: #fff;
        height: 50vh;
        width: 50vh;
        overflow: hidden;
        
        & img{
            height: 250px;
            width: 250px;
            border-radius: 20px;
        }
    
        & span{
            font-family: Jost, sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}
